body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 50%;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #8b0000;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  li div {
    background-color: #222;
    padding: 10px;
  }
  
  li div p {
    margin: 0;
    margin-bottom: 5px;
  }
  
  li div input[type="textarea"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  .textarea-custom {
     width: 50%;
    padding: 5px;
    font-size: 16px;
  }

  li div button {
    background-color: #c51818;
    color: #fff;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
  }
  
  li div button:hover {
    background-color: #000000;
  }
